ansible==3.3.0
ansible-base==2.10.8
astroid==2.5.6
cffi==1.14.5
cryptography==3.4.7
isort==5.8.0
Jinja2==2.11.3
lazy-object-proxy==1.6.0
MarkupSafe==1.1.1
mccabe==0.6.1
packaging==20.9
pathspec==0.8.1
pycodestyle==2.7.0
pycparser==2.20
pylint==2.8.2
pyparsing==2.4.7
PyYAML==5.4.1
six==1.15.0
tftpy==0.8.0
toml==0.10.2
voluptuous==0.12.1
wrapt==1.12.1
yamllint==1.26.1
